@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2";
  background-color: #121212;
  flex-direction: column;
  overflow-x: hidden;
}

img {
  box-sizing: border-box;
  border: 150px;
  width: 295px;
  height: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 60px 1083px 20px 120px;
  box-shadow: 0px 0px 10px rgba(255, 182, 193, 0.4), 0px 0px 15px rgba(255, 182, 193, 0.3), 0px 0px 20px rgba(255, 182, 193, 0.2);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

img:hover {
  transform: rotate(360deg);
  box-shadow: 0px 0px 15px rgba(255, 182, 193, 0.6), 0px 0px 20px rgba(255, 182, 193, 0.5), 0px 0px 25px rgba(255, 182, 193, 0.4);
}

/*img {
    width: 45%;
    max-width: 300px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    margin: 5% 50% 2% 10%;
    margin-top: 2rem;
    box-shadow:
        0px 0px 10px rgba(255, 182, 193, 0.4),
        0px 0px 15px rgba(255, 182, 193, 0.3),
        0px 0px 20px rgba(255, 182, 193, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;

    &:hover {
        transform: rotate(360deg);
        box-shadow:
            0px 0px 15px rgba(255, 182, 193, 0.6),
            0px 0px 20px rgba(255, 182, 193, 0.5),
            0px 0px 25px rgba(255, 182, 193, 0.4);
    }
}*/
h1 {
  background: linear-gradient(to right, #FF0266, #FF6EC7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: 388px;
  height: 50px;
  flex-shrink: 0;
  font-family: "Exo 2";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-left: 119px;
  margin-top: 39px;
  margin-bottom: 20px;
}

.about {
  line-height: 29px;
  width: 1216px;
  height: 66px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.9333333333);
  font-family: "Exo 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  margin-left: 119px;
  margin-top: 8px;
  margin-bottom: 39px;
}

a {
  line-height: 29px;
  width: 1216px;
  height: 66px;
  flex-shrink: 0;
  font-family: "Exo 2";
  font-size: 24px;
  font-style: normal;
  font-weight: 250;
  margin-left: 119px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.9333333333);
}

a:hover {
  color: rgba(255, 182, 193, 0.8);
  text-decoration: underline;
}

h2 {
  width: 388px;
  height: 50px;
  flex-shrink: 0;
  color: #FF0266;
  background: linear-gradient(to right, #FF0266, #FF6EC7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Exo 2";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  margin-left: 119px;
  margin-top: 8px;
  margin-bottom: 15px;
}

ol,
ul {
  font-size: 24px;
  line-height: 29px;
  width: 1216px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.9333333333);
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 250;
  margin-left: 143px;
  margin-top: 8px;
  margin-bottom: 50px;
}

footer {
  background-color: #121212;
  border-top: 1px solid rgba(255, 182, 193, 0.3);
  padding: 20px 588px;
  margin-top: 50px;
}

footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9333333333);
  font-size: 14px;
  font-weight: 250;
  line-height: 17px;
  width: 264px;
  height: 21px;
  flex-shrink: 0;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */