@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');

$color-primary: #FFFFFF;
$color-secondary: #1E1E1E;

$font-primary: 'Lily Script One', cursive;
$font-secondary: 'Actor', sans-serif;

@mixin flexbox {
    display: flex;
    justify-content: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include flexbox();
    background-color: $color-primary;
    flex-direction: column;
}

header {
    background-color: $color-secondary;
    text-align: center;
    padding: 1.8rem 0;
}

.banner {
    width: 100%;
    height: auto;
}

nav {
    ul {
        @include flexbox();
        list-style: none;
        gap: 13vw;

        li {
            a {
                text-decoration: none;
                color: $color-primary;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 1.6rem;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 3rem 0 6rem;
}

section {
    @include flexbox();
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;

    img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}

footer {
    @include flexbox();
    background-color: $color-secondary;
    font-family: $font-secondary;
    color: $color-primary;
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 1.6rem;
    text-align: center;
    align-items: center;

    p {
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 1.5rem;
    }

    .social-media {
        display: flex;
        gap: 0.8rem;
        list-style: none;

        li {
            a {
                img {
                    width: 2.5rem;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        p {
            margin-left: 1rem;
        }
    }
}

@media (max-width: 448px) and (max-height: 448px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin-left: 1.4rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        p {
            margin-left: 1rem;
        }
    }
}

@media (max-width: 448px) and (max-height: 448px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        margin-left: 1.4rem;
    }
}
